@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

// Define a base para conversão (ex: 16px = 1rem)
$font-base: 16;

@function font($size-px) {
    @return ($size-px / $font-base) * 1em;
}

.wraper-cardartista {
    width: 100%;
    position: relative;
}


.CardArtista {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vh;
    transition: 0.5s;
    border-radius: 0.1vw;
    font-family: 'Roboto Mono' ,Arial;
    transition: 0.5s !important;
    background: #4d2a16;
    color: #dfb58b;
    box-shadow: inset 1px -20px 20px 0px rgba(0, 0, 0, 0.227);
    position: relative;
    z-index: 101;
}


.fun-vermais {
    min-height: 84vh !important;
}

.fun-vermenos {
    height: 84vh !important;
}


.infoartista {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: font(10);
    gap: font(10);

    h2 {
        font-size: font(25);
    }

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        height: 35vh;
        border-radius: 50%;
        border: font(4) solid #42293f;
    }

    span {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: font(10);

        div {
            padding: font(5);
            font-size: font(20);
            background: #42293f;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: font(3);
            font-weight: bolder;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
                filter: brightness(0.9);
            }
        }
    }
}

.BioEObras {
    padding: font(20);
    display: flex;
    gap: 10vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    h1 {
        font-size: font(70);
    }

    .biografia {
        p {
            font-size: font(30);
            text-align: justify;
            hyphens: auto;
        }
    }
}


.Ver {
    position: absolute;
    z-index: 100;
    max-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: font(5);
    padding-left: font(10);
    padding-right: font(10);
    height: 6vh;
    background: #42293f;
    color: #dfb58b;
    font-size: font(20);
    top: 100%;
    border-bottom-left-radius: font(7);
    border-bottom-right-radius: font(7);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: #8a7056;
    }
}

.Obras {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20vh;

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;

        h3 {
            font-size: font(50);
        }

        p {
            font-size: font(25);
            text-indent: 5vw;
            text-align: justify;
            hyphens: auto;
        }

        div {
            width: 100%;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                object-fit: contain;
                height: 100%;
            }
        }
    }
}


@media (max-width: 1210px) {
    .Ver {
        max-width: 15vw;
    }

    .BioEObras {
        h1 {
            font-size: font(60);
        }

        .biografia {
            p {
                font-size: font(25);
            }
        }

        .Obras {
            section {
                h3 {
                    font-size: font(40);
                }

                p {
                    font-size: font(20);
                }
            }
        }
    }
}

@media (max-width: 815px) {
    .infoartista {
        img {
            height: 30vh;
        }

        h2 {
            font-size: font(23);
        }

        span {
            div {
                font-size: font(17);
            }
        }
    }

    .Ver {
        font-size: font(18);
        max-width: 20vw;
    }

    .Obras {
        section {
            div {
                height: 70vh;
            }
        }
    }
}

@media (max-width: 640px) {

    .Obras {
        section {
            div {
                height: 50vh;
            }
        }
    }
} 


@media (max-width: 550px) {
    .Ver {
        font-size: font(15);
    }
}

//Celular ==========================================================================================

@media (pointer: coarse) and (orientation: portrait) and (max-width: 500px){
    .infoartista {
        span {
            width: 90%;

            div {
                font-size: font(20);
            }
        }
    }

    .BioEObras {
        gap: 5vh;

        .biografia {
            p {
                font-size: font(20);
            }
        }
        h1 {
            font-size: font(50); 
        }

        .Obras {
            gap: 10vh;
            section {
                h3 {
                font-size: font(30);
                }

                div {
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}


@media (pointer: coarse) and (orientation: portrait) and (max-width: 400px) {
    .infoartista {
        span {
            width: 100%;
        }
    }


    .Ver {
        max-width: 25vw;
    }

    .BioEObras {
        h1 {
            font-size: font(35);
        }
    }
}