@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.CardArtista {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 0.1vw;
    font-family: 'Roboto Mono' ,Arial;
    cursor: text;
    transition: 0.5s;
}


.infoArtista {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    flex-direction: column;
    padding-left: 1%;
    height: 100% !important;
    background: var(--card-left);
    box-shadow: inset 0px -10px 16px 0px var(--card-left) !important;
    color: var(--card-left-text);
}

.infoArtista > img {
    margin-top: 10%;
    width: 70%;
    height: auto;
}

.infoArtista > span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    padding: 1vw;
}

.infoArtista > span > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1%;
}

.infoArtista > span > div:nth-child(2) {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.4s;
}

.infoArtista > span div:nth-child(2) > ul {
    margin-left: 15%;
}


.infoArtista > span > div > h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 83%;
    height: 100%;
    min-width: 83%;
    background: var(--card-right);
    box-shadow: inset 0px -10px 16px 0px var(--card-right);
    color: var(--card-right-text);
    padding: 1%;
    gap: 5%;
    transition: 0.4s;
}

.bio:hover {
    background: var(--card-right-back-ler);
}


.bio > div > h2  {
    width: 100%;
    font-size: 4.5rem;
}

.bio > div {
    width: 99%;
    padding-right: 1vw;
    max-height: 100%;
}

.bio > div {
    overflow-y: auto;
}

.biografia > p {
    text-align: justify;
    width: 100%;
    font-size: 1.5rem;
}

.obras {
    margin-top: 5vh;
    width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.obras > section {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    width: 100%;
}


.obras > section > h3 {
    text-align: start;
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.obras > section > p, div, h3 {
    width: 100%;
}

.obras > section > p {
    width: 100%;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 10%;
}

.obras > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--card-right-img-back);
    padding: 5%;
    border-radius: 5%;
}

.obras > section > div > img {
    width: auto;
}

