
.ConteinerArtista {
    filter: none;
    backdrop-filter: none;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: center;
    background: #723e21;
    pointer-events: all;
    padding-bottom: 10vh;
}


.ConteinerArtista > img {
    width: 4%;
    position: absolute;
    left: 1%;
    top: 1%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
}

.ConteinerArtista > img:hover {
    transform: scale(1.1);
    background: rgb(183, 183, 183);
}

.ConteinerCards {
    width: 90%;
    display: flex;
    gap: 10vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.NoScrollY {
    overflow-y: hidden;
}

@media (max-width: 800px) {
    .ConteinerCards {
        width: 95%;
    }
}

/*celular pae*/
@media (pointer: coarse) and (orientation: portrait) and (max-width: 500px){
    .ConteinerArtista {
        padding: 0;
        padding-bottom: 10vh;
    }

    .ConteinerCards {
        width: 100%;
    }
}