@use '../EscolherDificuldade.scss' as *;

.carta-conteiner {
    perspective: 1000px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.carta-conteinersub {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 1px solid rgb(52, 131, 191);
    background: rgb(31, 128, 226);
    border-radius: rem(10);

}


.Front {
    transform: rotateY(0);
}

.Back {
    transform: rotateY(180deg);
}

.carta-conteinersub > div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; // importante para Android
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.carta-conteinersub > div:nth-child(2) {
    transform: rotateY(180deg);
}

.carta-conteinersub > div:nth-child(1) {
    font-size: rem(60);
    color: white;
}

.carta-conteinersub > div:nth-child(2) > img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 95%;
    height: 95%;
    border-radius: rem(10);
    filter: brightness(1) !important;
}


.notoque {
    pointer-events: none;
    user-select: none;
}

.notoque > * {
    pointer-events: none;
    user-select: none;
}

/////////////////////////////////////////////////////////////////////////////////////////
/// Responvidade
/////////////////////////////////////////////////////////////////////////////////////////
/// PC

@media (max-width: 800px) {
    .carta-conteinersub > div:nth-child(1) {
        font-size: rem(40)
    }
}

////////////////////////////////////////////////////////////////////////////////////////
/// Celular ////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 500px) and (pointer: coarse) {
    .carta-conteinersub  > div:nth-child(1) {
        font-size: rem(35);
    }
}