// Fácil
$facil-back:  #e1fbe1;      // verde clarinho
$facil-color: #2e7d32;      // verde escuro (texto)
$facil-borda: #81c784;      // verde médio

// Médio
$medio-back:  hsl(46, 100%, 94%);      // amarelo claro
$medio-color: #ff8f00;      // laranja queimado (texto)
$medio-borda: #ffd54f;      // amarelo vivo

// Difícil
$dificil-back:  #ffe1e1;    // rosa claro
$dificil-color: #c62828;    // vermelho escuro
$dificil-borda: #ef5350;    // vermelho médio

// Extremo
$extremo-back:  #f3e5f5;    // roxo claro
$extremo-color: #6a1b9a;    // roxo escuro
$extremo-borda: #ab47bc;    // roxo médio

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

.Escolher-wraper {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Escolher {
    //botao
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 3vh;
    width: 30%; 
    height: 100%;
    position: relative;

    .botao-wraper{
        width: 100%;
        display: flex;
        position: relative;

        button {
            position: relative;
            width: 100%;
            height: 15vh;   
            cursor: pointer;
            border-radius: rem(5);
            font-size: rem(30);
            font-family: "Press Start 2P", sans-serif;
            transition: 0.5s;

            &:hover {
                z-index: 1000;
                transform: scale(1.1) translateY(-2svh);
            }
        }        
        .botao-facil-dificuldade {
            background: $facil-back;
            color: $facil-color;
            border: rem(5) solid $facil-borda;
        }

        .botao-medio-dificuldade {
            background: $medio-back;
            color: $medio-color;
            border: rem(5) solid $medio-borda;
        }

        .botao-dificil-dificuldade {
            background: $dificil-back;
            color: $dificil-color;
            border: rem(5) solid $dificil-borda;
        }

        .botao-extremo-dificuldade{
            background: $extremo-back;
            color: $extremo-color;
            border: rem(5) solid $extremo-borda;
        }
    }
}



//////////


.ConteinerInfo {
    position: absolute;
    top: 5%;
    left: 110%;
    background: white;
    padding: rem(10);
    border-radius: rem(10);
    text-align: start   ;
    min-width: 50%;

    span {
        width: 100%;
        display: flex;
        gap: 1vw;
    }

    h3, h2 {
        margin: 0;
    }
}


h1 {
    width: 100%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    color: white;
}

/////////////////////////////////////////////////////////////////////////////////////////
/// Responsividade///////////////////////////////////////////////////////////////////////
/// /////////////////////////////////////////////////////////////////////////////////////
/// PC

@media (max-width: 950px) {
    .Escolher {
        width: 40%;
    }   

    .ConteinerInfo {
        left: 105%;
    }
}

@media (max-width: 750px) {
    .Escolher-wraper {
        align-items: flex-start;
    }

    .Escolher {
        padding: rem(1);
        padding-left: rem(10);
    }

    h1 {
        margin-top: 5vh;
    }

    .ConteinerInfo {
        left: 110%;
    }
}


@media (max-width: 670px) {
    .Escolher {
        .botao-wraper > button {
            font-size: rem(20);
        }
    }

    h1 {
        font-size: rem(50);
    }

    .ConteinerInfo {
        span {
            h3 {
                font-size: rem(15);
            }
            h2 {
                font-size: rem(20);
            }
        }
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////// Celular ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media (max-width: 440px) and (pointer: coarse) {  
    .ConteinerInfo {
        span {
            h2 {
                font-size: rem(15);
            }

            h3 {
                font-size: rem(13);
            }
        }
    }

    h1 {
        font-size: rem(40);
    }

    .Escolher   {
        .botao-wraper > button {
            font-size: rem(15);
        }
    }
}

@media (max-width: 350px) and (pointer: coarse) {
    h1 {
        font-size: rem(30);
    }
}

//Horizontal
@media (orientation: landscape) and (pointer: coarse) and (max-height: 400px) {
    h1 {
        margin-top: 0;
        font-size: rem(30);
    }

    .Escolher {
        margin-top: 0;
        width: 30%;
        gap: rem(10);
        .botao-wraper {            
            button {
                font-size: rem(15);
            }
        }
    }
    
    .ConteinerInfo {
        span {
            h2 {
                font-size: rem(17);
            }
            h3 {
                font-size: rem(13);
            }
        }
    }
}

