@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.card {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    z-index: 5;
    user-select: none   ;
}

.cardsub {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    height: 100%;
    background: var(--card-back-2);
    border-radius: 1.5em;
    position: relative;
    z-index: 5;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.188);
    transition: 0.4s ease-in-out;
    font-family: 'Anton', sans-serif;
    overflow: hidden;
}

.cardsub > span {
    position: absolute;
    transition: 0.5s ease;
    z-index: 1;
    width: 100%;
    height: 65%;
    background: var(--card-back);
    border-bottom: 5px solid var(--card-back-border);
}

.cardsub > p {
    position: relative;
    z-index: 2;
    font-size: 7em;
    text-align: top start;
    animation: dilata 5s ease-in-out infinite alternate ;
}

.cardsub > div {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsub > div > button {
    opacity: 0;
    width: 50%;
    height: 50%;
    font-weight: bolder;
    outline: 0;
    border: 0;
    border-radius: 5rem;
    font-size: 2rem;
    background: var(--card-button);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.cardsub > div > button:hover {
    background: var(--card-button-hover);
    transform: scale(1.05);
}

@keyframes dilata {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

.aba {
    background: var(--card-back);
    width: 30%;
    height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(0%);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1%;
    transition: 0.3s;
}

.card:hover > .aba {
    transform: translateX(-50%) translateY(-40%);
}

.cardsub:hover > div > button {
    opacity: 1;
}

.card:hover > .cardsub {
    transform: scale(1.05) translateY(-4%);
}

.cardsub:hover > span {
    filter: brightness(0.8);
}

.aba > span {
    margin-top: 5%;
    width: 60%;
    height: 6%;
    background: rgb(59, 59, 59);
    border-radius: 15%;
}

/*fds*/
.hidden {
    transform: translateY(5%);
    opacity: 0.5;
}

.show {
    transform: translate(0px);
    opacity: 1;
    animation: tre 0.3s ease-in-out 1 alternate;
}

@keyframes tre {
    50% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
