@use '../App.scss' as *;

.wrapermain {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: font(20);
    z-index: 1;
    overflow-y: auto;
}

main {
    overflow: visible;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: minmax(font(260), auto);
    row-gap: 1vw;
    column-gap: 1vw;
    padding-top: 4%;
    padding-left: 1vw;
    padding-right: 5vw;
    animation: ShowCards 2s ease-in-out 1 forwards;
}

@media (max-width: 1000px) {
    .wrapermain {
        gap: 5vh;
    }
}

@media (max-width: 900px) {
    main {
        grid-template-columns: 34% 34% 34%;
        grid-template-rows: repeat(9 ,15%);
    }
}


@media (max-width: 700px) {
    main {
        grid-template-columns: repeat(2 ,50%) !important;
        grid-template-rows: repeat(13, 10%);
    }
}


@media (max-width: 420px) {
    main { 
        grid-template-columns: 100% !important;
        grid-template-rows: repeat(26, 5%);
    }
}


@keyframes ShowCards {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
