main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    row-gap: 1vw;
    column-gap: 1vw;
    margin-top: 10vh;
    padding: 1vh;
    padding-top: 4%;
    padding-left: 1vw;
    padding-right: 5vw;
    animation: ShowCards 2s ease-in-out 1 forwards;
}

@keyframes ShowCards {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.VoltarEntrada {
    top: -4%;
    left: 0;
    position: absolute;
    width: 7%;
    height: 7%;
    transform: translateX(-5vw);
    background: rgb(130, 76, 53);
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    transition: 0.5s;
    animation: De 0.5s ease-in-out infinite forwards, ShowCards 2s ease 1 forwards;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.VoltarEntrada > img {
    height: 70%;
    width: auto;
}

.VoltarEntrada:hover{
    transform: scale(1.1) translate(0);
    filter: brightness(0.7);
}

