// Define a base para conversão (ex: 16px = 1rem)
$font-base: 16;

@function font($size-px) {
  @return ($size-px / $font-base) * 1em;
}


.voltarhome {
    user-select: none;
    width: font(70);
    height: font(60);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: black;
    position: fixed;
    z-index: 100;
    top: 5vh;
    left: 0;
    padding: font(10);
    padding-right: font(1);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;    
    cursor: pointer;
    background: rgb(225, 166, 56);
    transition: 0.5s;
}

.voltarhome:hover {
    filter: brightness(0.7);
}

@media (max-width: 1200px) {
    .voltarhome {
        width: font(75);
    }
}