@use '../App.scss' as *;


.wrapperPesquisa-Conteiner {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}


.pesquisa-conteiner {
    width: 100%;
    min-height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
}

.pesquisawrapper {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: font(10);
    background: #76482e;
    border-bottom: font(5) solid #4a2e1d;
}

.pesquisa {
    position: relative;
    margin-right: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 90%;
    background: #d48252;
    transition: 0.3s;
}

@media (max-width: 930px) {
    .pesquisa {
        width: 40%;
    }
    
    .botao-voltar-cima-resultado {
        width: 7vw !important;
        height: 7vw !important;
    }
}

@media (max-width: 700px) {
    .pesquisa {
        width: 50%;
    }

    .botao-voltar-cima-resultado {
        width: 8vw !important;
        height: 8vw !important;
    }
}

@media (max-width: 550px) {
    .botao-voltar-cima-resultado {
        width: 15vw !important;
        height: 15vw !important;
    }
}


//========================================================================================
//Celular na vertical
//========================================================================================

//adpitando o botao de voltar apra cima para celular
@media (pointer: coarse) {
    .botao-voltar-cima-resultado { // colocando o mesmo o pouco para baixo, pq o Menu do rodape esta la pae.
        top: 15vw !important;
    }
}

@media (max-width: 430px) and (pointer: coarse) and (orientation: portrait){
    .pesquisa {
        width: 55%;
    }
}

.pesquisa:hover {
    background: #906953;

    input {
        color: black;
        &::placeholder {
            color: rgb(40, 40, 40);
        }
    }
}

.pesquisa > img {
    height: 80%;
    width: auto;
}

.pesquisa > img:nth-child(1):hover {
    transform: scale(1.1);
}

.pesquisa > input {
    border: 0;
    outline: 0;
    background: (38, 31, 26, 0.474);
    width: 80%;
    height: 90%;
    background: rgba(255, 255, 255, 0);
    color: rgb(230, 228, 228);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1%;
}

.resultado {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    gap: font(20);
    justify-content: center;
    align-items: flex-start;
    background: #b16e47;
}

//botao de voltar para cima pae
.botao-voltar-cima-resultado {
    position: fixed;
    z-index: 1000;
    top: 1vh;
    left: 1vw;
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
        filter: blur(1px) brightness(0.9) grayscale(20%);
        transform: scale(1.1);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

//class que vai desabilitar a ativar o botao de  voltar para cima pae.
// Desativa //////////////////////////////////////////////////////////////
.disabled-elemento {
    display: none !important; 
}
//////////////////////////////////////////////////////////
// Ativa /////////////////////////////////////////////////
@keyframes active-botao-anima {
    from {
        display: flex;
        opacity: 0;
        transform: scale(0.50);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}

.active-botao-voltar-anima-class {
    animation: active-botao-anima 0.5s ease 1 forwards !important;
}
///////////////////////////////////////////////////////