@use '../App.scss' as *;
//rodape normal
.Rodape {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 10%;
    font-size: 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.1rem;
    padding-bottom: 0;
    gap: 3%;

    .Nome-Rodape {display: none;}
}

//rodape para o jogo da memoria.
.rodape-jogo {
    background: rgba(0, 0, 0, 0.168);
}

//rodape outros
.rodape-outros {
    .Nome-Rodape {
        display: flex;
        align-items: center;
        padding: font(5);
        gap: font(10);
        height: 100%;
        flex: 1;
        gap: 1vw;

        h3 {
            font-size: font(20);
            font-family: 'Oswald', Arial, Helvetica, sans-serif;
            font-style: oblique;
            color: white;
            cursor: pointer;
        }
        
        hr {
            flex: 1;
            height: font(5);
            background: rgb(161, 161, 161);
            border-radius: font(1);
            border: 0;
            outline: 0;
        }
    }
}

.Rodape > p {
    font-size: font(20);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.Rodape > p:hover {
    transform: scale(1.05) translateY(-10%);
}

.Rodape > span {
    border-radius: 50%;
    transition: 0.5s;
    padding: font(5);
    width: 4%;
    min-width: 4%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-magin-radape {
    margin-right: 3%;
}

.Rodape > span > img {
    object-fit: contain;
    height: 100%;
}

.Rodape {
    span:hover {
        background: rgba(255, 255, 255, 0.246);
        transform: scale(1.05);
    }
}


.menu-mobile {
    display: none;
}

.TopPosition { // class pra deixa o menu-mobile um pouco mais para abaixo, para a janela sobre nos pae
    top: 8vh !important;
}

//normal
@media (max-width: 1050px) {
    .Rodape > span {
        width: 5.5% !important;
    }
}

@media (max-width: 844px) {
    .Rodape > span {
        width: 7% !important;
    }
}

@media (max-width: 750px) {
    .Rodape > span {
        width: 8% !important;
    }

    
    //parte do rodap outros
    .rodape-outros {
        h3 {
            font-size: font(120);
        }

        hr {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    .Rodape { 
        span {
            width: 10% !important;
        }

        p {
            font-size: font(17);
        }

        h3 {
            font-size: font(15);
        }
    }
}

@media (max-width: 500px) {
    .Rodape > span {
        width: 11% !important;
    }
}


/*Dispositivo em pe*/

@media (pointer: coarse) and (max-width: 600px) {
    .Nome-Rodape {
        display: none !important;
    }


    .Rodape > p {
        user-select: none;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.243);
    }

    //rodape adptado para celular
    .Rodape {
        padding-top: 5%;
        z-index: 30;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 25%;
        align-items: center;
        position: absolute;
        z-index: 999;
        left: -25%;
        top: 0;
        height: 100%;
        background: rgba(38, 31, 26, 0.70);
        transition: 0.5s ease;
    }

    .show-rodape {
        left: 0 !important;
    }

    .Rodape > span {
        width: 60% !important;
        height: 10%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu-mobile {
        display: flex;
        flex: 1;
        position: absolute;
        z-index: 31;
        top: 1%;
        left: 105%;
        width: auto;
        height: 7%;
        background: rgba(255, 255, 255, 0);
    }

}


@media (pointer: coarse) and (max-width: 550px) {
    .Rodape  {
        p {
            font-size: 1.1rem;
        }
    }
}


@media (pointer: coarse) and (max-width: 440px) {
    .menu-mobile {
        z-index: 100;
        left: 105%;
    }
}


@media (pointer: coarse) and (max-width: 350px) {
    .Rodape {
        width: 30%;
        left: -30%;
    }
}

//dispositivos deitado


@media (orientation: landscape) and (pointer: coarse) and (max-height: 320px) and (max-width: 570px) {
    .Rodape {
        width: 20%;
        left: -20%;
        gap: 10%;
        p {
            height: auto;
        }
    }

    .menu-mobile {
        width: 7vw;
        height: 7vw;
    }
}
