@use '../App.scss' as *;
//rodape normal
.Rodape {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 10%;
    font-size: 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.1rem;
    padding-bottom: 0;
    gap: 3%;

    .Nome-Rodape {display: none;}
}

//rodape para o jogo da memoria.
.rodape-jogo {
    background: rgba(0, 0, 0, 0.168);
}

//rodape outros
.rodape-outros {
    .Nome-Rodape {
        display: flex;
        align-items: center;
        padding: font(5);
        gap: font(10);
        height: 100%;
        flex: 1;
        gap: 1vw;

        h3 {
            font-size: font(20);
            font-family: 'Oswald', Arial, Helvetica, sans-serif;
            font-style: oblique;
            color: white;
            cursor: pointer;
        }
        
        hr {
            flex: 1;
            height: font(5);
            background: rgb(161, 161, 161);
            border-radius: font(1);
            border: 0;
            outline: 0;
        }
    }
}

.Rodape > nav {
    display: flex;
    justify-content: flex-end;
    gap: font(50);
    align-items: center;
    height: 100%;
    margin-right: font(30);
    position: relative ;
}

.seletor-nav {
    z-index: 1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    border-bottom: font(5) solid white;
    box-shadow: inset 0px 0px 7px 1px #ddba203d;
    transition: 0.2s cubic-bezier(0, 0, 0.71, 1.11);
    transform: scaleX(1.2) translate(100px);
}

.Rodape > nav {
    span:hover ~ .seletor-nav { opacity: 1; }
    p:hover ~ .seletor-nav {opacity: 1;} 
}

.Rodape > nav > p {
    z-index: 2  ;
    text-wrap: nowrap;
    display: flex;
    //usei o flex para centralizar esse texto pq, por algum motivo o text-aling nao ta fucionando aqui pae, E fds, se esta fucionando deixa ai.
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: font(20);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.Rodape > nav > p:hover {
    transform: scale(1.05) translateY(-10%);
}

.Rodape > nav > span {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    transition: 0.5s;
    padding: font(5);
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Rodape > nav > span > img {
    object-fit: contain;
    flex: 1;
    height: 100%;
}

.menu-mobile {
    display: none;
}

.TopPosition { // class pra deixa o menu-mobile um pouco mais para abaixo, para a janela sobre nos pae
    top: 8vh !important;
}

//normal
@media (max-width: 1050px) {
    .Rodape > nav {
        gap: font(35);
    }
}

@media (max-width: 844px) {
    .Rodape > nav {
        margin-right: 0;
        justify-content: center;
        gap: font(25);
    }
}

@media (max-width: 750px) {
    .Rodape > nav {
        gap: font(15);

        p {
            font-size: font(17);
        }
    }

    
    //parte do rodap outros
    .rodape-outros {
        h3 {
            font-size: font(18) !important;
        }

        hr {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    .Rodape {
        nav {
            span {
                padding: font(2);
            }

            p {
                font-size: font(15);
            }

            h3 {
                font-size: font(15);
            }
        }
    }

    .rodape-outros {
        h3 {
            font-size: font(15) !important;
        }
    }
}

/*Dispositivo em pe*/

@media (pointer: coarse) and (max-width: 600px) {
    .Nome-Rodape {
        display: none !important;
    }


    .Rodape > nav > p {
        user-select: none;
        width: 100%;
        height: 5%;
        font-size: font(20);
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.243);
    }

    //rodape adptado para celular
    .Rodape {
        padding-top: 5%;
        z-index: 30;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 25%;
        align-items: center;
        position: absolute;
        z-index: 999;
        left: -25%;
        top: 0;
        height: 100%;
        background: rgba(38, 31, 26, 0.70);
        transition: 0.5s ease;
    }

    .show-rodape {
        left: 0 !important;
    }
    
    .Rodape > nav {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .Rodape > nav > span {
        width: 60% !important;
        height: 10%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu-mobile {
        display: flex;
        flex: 1;
        position: absolute;
        z-index: 31;
        top: 1%;
        left: 105%;
        width: auto;
        height: 7%;
        background: rgba(255, 255, 255, 0);
    }

}


@media (pointer: coarse) and (max-width: 550px) {
    .Rodape  {
        p {
            font-size: 1.1rem;
        }
    }
}


@media (pointer: coarse) and (max-width: 440px) {
    .menu-mobile {
        z-index: 100;
        left: 105%;
    }
}


@media (pointer: coarse) and (max-width: 350px) {
    .Rodape {
        width: 30%;
        left: -30%;
    }
}

//dispositivos deitado

@media (orientation: landscape) and (pointer: coarse) and (max-width: 570px) {
    .Rodape {
        width: 20%;
        left: -20%;
        gap: 10%;
        p {
            height: auto;
        }
    }

    .menu-mobile {
        width: 7vw;
        height: 7vw;
    }
}

@media (orientation: landscape) and (pointer: coarse) and (max-height: 400px) {
    .Rodape {
        height: 15%;
    }
}
