@use '../App.scss' as *;

.rodape-bottom {
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    width: 100%;
    background: rgba(55, 37, 21, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0.1%;
    position: relative;
}

.wraper-conteiner-info {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: font(10);
    gap: font(20);
        
    .click-copy {
        z-index: 200;
        &::before{
            animation: up 1s ease-in 1 forwards;
            z-index: 100;
        }
    }

    //className que serao usada pra descatar os informacoe scomo email e nmero para copiar
    .infocopy-footerbottom {
        user-select: none;
        cursor: pointer;
        position: relative;
        background: rgba(255, 255, 255, 0.35);
        padding: font(2);
        color: rgb(255, 255, 255);
        text-wrap: nowrap;

        &::before {
            opacity: 0;
            z-index: -100;
            padding: font(4);
            border-radius: font(5);
            display: inline;
            position: absolute;
            top: -100%;
            content: 'Copiado';
            border: font(3) solid #9b581e;
            background: #d78c4b;
            font-style: normal;
        }

        @keyframes up {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                top: -200%;
            }
        }
    }

    .conteiner-info {
        display: flex;
        flex-direction: column;
        color: white;
        height: 100%;
        width: 45%;
        gap: font(2);

        h3 {
            font-family: 'Oswald', Arial, Helvetica, sans-serif;
            font-style: italic;
        }

    }

    .conteiner-info:nth-of-type(1) {
        .conteiner-subinfo {    
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: font(10);

            span {
                display: flex;
                flex-direction: column;
                width: auto;
                height: fit-content;

                p {
                    text-align: justify;
                    hyphens: auto;
                    
                    strong {
                        text-align: justify;
                        hyphens: auto;
                        font-style: italic;
                    }
                }
            }

            span:nth-of-type(2) {
                gap: font(10);
                a {
                    height: 50%;   
                    width: 100%; 
                    img {
                        aspect-ratio:  1 / 1;
                        object-fit: cover;
                        width: font(40);
                        height: auto;
                        transition: 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            padding: font(3);
                            border-radius: font(3);
                            background: rgba(255, 255, 255, 0.431);
                        }
                    }
                }
            }
        }

        h3 {
            text-align: end;
        }
    }

    .conteiner-info:nth-of-type(3) {
        h3 {
            text-align: start;
        }

        .conteiner-subinfo:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            
            span {
                display: flex;
                align-items: center;
                gap: font(10);
                width: 100%;

                // texto do email pae
                div {
                    display: flex;
                    flex-direction: column;
                    gap: font(3);

                    p {
                        text-align: justify;
                        hyphens: auto;
                        text-align: wrap;
                        
                        strong {
                            text-align: justify;
                            hyphens: auto;
                            font-style: italic;
                        }
                    }

                    p:nth-of-type(2) { 
                        text-align: start;
                    }
                }

                img {
                    aspect-ratio: 1 / 1;
                    object-fit: contain;
                    width: font(50);
                    height: auto;
                }
            }
        }
    }
}


.Direitos-Reservados {
    display: flex;
    width: 100%;
    min-height: 10%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-top: font(0.1) solid rgb(197, 197, 197);

    p {
        color: white;
    }
}

.rodape-bottom-diviso {
    width: font(2);  
    height: 95%;
    background: rgba(175, 175, 175, 0.738);
}


/////////////////////////////////////////////////////////////////
/// Responsividade
/// ////////////////////////////////////////////////////////
/// Pc

@media (max-width: 700px) {
    .wraper-conteiner-info {
        flex-direction: column;

        .conteiner-info {
            width: 100%;

            p {
                font-size: font(15);
            }

            h3 {
                text-align: start !important;
            }

            .conteiner-subinfo:nth-of-type(1) {
                flex-direction: column !important;

                span:nth-of-type(2) {
                    flex-direction: row;
                }
            }
        }
    }

    .rodape-bottom-diviso {
        width: 95% !important; 
        height: 1rem;
        background: rgba(175, 175, 175, 0.738);
    }
}

//Celular Vertical
//por se praticamente so texto, a adipitacao foi feito apenas com mudancas de fonts pae.
@media (max-width: 400px) and (pointer: coarse) {
    .wraper-conteiner-info {
        .conteiner-info  {
            p { 
                font-size: font(13);
            }
        }
    }
}