@use '../App.scss' as *;

@font-face {
    font-family: 'FontBa';
    src: url('../img/Bathrind.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



$cor-main: #72441d;
$cor-conteiner: #502805;
$cor-text-titulo: rgb(219, 219, 219);
$cor-text-head: #f1f1f1;
$cor-card: #b36521;
$cor-text-nav: #f9fbff;
$cor-fundo-nav:#d78c4b;

.Nav-Sobrenos {
    position: sticky;
    display: flex;
    align-items: center;
    height: 6vh;
    min-height: 6vh;
    width: 100%;
    height: 30%;
    top: 0px;
    z-index: 100;
    background: $cor-fundo-nav;
}


.Nav-Sobrenos > span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cor-fundo-nav;
    color: white;
    height: 6vh;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
    font-size: font(15);
    padding: font(5);
    flex: 1;


    //parte de passa a mouse por cima do icone e mostrar oq se trata pae.
    /*
    &::before {
        opacity: 0;
        position: absolute;
        z-index: 100;
        display: inline;
        padding: font(5);
        background: $cor-fundo-nav;
        border-radius: font(5);
        font-size: font(20);
        text-align: start;
        text-wrap: wrap;
        left: 0%;
        top: 110%;
        transition: 0.5s ease-out;
    }
    */


    &:hover {
        transform: scale(1.05);
        filter: brightness(0.9);

        /*
        //geral, todos qualquer um, terar  opacidade no 1, ou seja irar aparece suavemente.
        &::before { opacity: 1; }

        //Nossa Equipe
        &:nth-child(1):before { content: 'Nossa Equipe'; }
        //Sobre Projeto
        &:nth-child(2):before { content: 'Sobre Projeto'; }
        //Criação do Site
        &:nth-child(3)::before { content: 'Criação do Site'; }
        //Pesquisa dos Artista
        &:nth-child(4)::before { content: 'Pesquisa dos Artista'; }
        //Pesquisa dos Conceito
        &:nth-child(5)::before {content: 'Pesquisa dos Conceito';}
        //Organização da Exposição
        &:nth-child(6)::before { content: 'Organização da Exposição'; }
        */
    }

    img {
        object-fit: contain;
        width: auto;
        height: 100%; 
    }

}

.wraperMainSobre {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.MainSobre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: $cor-main;
    width: 100%; 
    height: auto;
    padding: 0;
    position: relative;
}

.conteudo-text {
    position: relative;
    z-index: 5;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: font(20);
    background: $cor-conteiner;
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.306);
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50vh;
    scroll-margin-top: 50vh;
}

.cabeçalho > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: font(10);
    padding: font(10);
    width: 100%;
    height: 100%;
}


.fonth1h2 {
    font-family: 'FontBa', sans-serif;
}

.cabeçalho > section > span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: font(30);
}

.cabeçalho > section > span > p {
    color: $cor-text-head;
    text-align: justify;
    hyphens: auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
}

.cabeçalho > img {
    object-fit: contain;
    width: 30%;
    flex: 1;  
}


//desenvolmento, é os estilo padrao
.Dev {
    width: 100%;
    gap: font(15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    * {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    h1, h2 {
        color: $cor-text-titulo;
        font-family: 'Oswald', Arial, Helvetica, sans-serif;
    }
    h1 {
        font-size: font(50);
        margin-bottom: font(5);
        letter-spacing: -2px;
        font-style: oblique;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }
    p, h2 {
        color: $cor-text-head;
        margin-bottom: font(5);
    }   

    p {
        text-align: justify;
        hyphens: auto;
    }

    span {
        width: 100%;
        padding-left: 1.5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15%;
        ul {
            display: flex;
            flex-direction: column;
            gap: font(10);
            li {
                color: $cor-text-head;
                padding-left: font(5);
                font-size: font(20);
                transition: 0.5s;
                border-radius: font(5);
                cursor: pointer;

                &:hover {
                    transform: scale(1.1) translateX(1vw);
                    background: #b9b9b441;
                }
            }

            
        }
    }
}

//sobre o projeto
.Card-Sobre-Conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: font(10);
}

.Card-Sobre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $cor-card;
    color: $cor-text-titulo;
    padding: font(10);
    gap: font(20);
    width: 100%;
    border-radius: font(5);
}

.Card-Sobre > h3, h4 {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.Card-Sobre > h3 {
    font-size: font(25);
}

/////////////////////////////////////////////////////////////////////////"
//supervisao pae
.SuperVisao {
    h1, h2 {
        width: 100%;
        text-align: center;
    }

    .supervisao-info-professor {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
/*area desenvolvedores do site*/
#Criacao {
    span {
        ul {
            list-style-type: none;
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    img {
        width: 80%;
        height: auto;
        object-fit: contain;
    }}
}

/*parte dos pesquisadores*/
#pesquisa-artista, #pesquisa-conceito, #org {
    span {
        ul {
            list-style: none;
        }
    }
}

#pesquisa-artista {
    span {
        ul {
            li::before {
                content: "📚";
                margin: font(8);
            }
        }
    }
}

#org {
    span {
        ul {
            li::before {
                content: '🛠️';
                margin: font(8);
            }
        }
    }
}

#pesquisa-conceito {
    span {
        ul {
            li::before {
                content: '🖋️';
                margin: font(8);
            }
        }
    }
}


//Responsividade
//PC
@media (max-width: 1100px) {
    .Card-Sobre {
        h3 {
            font-size: font(20);
        }

        h4 {
            font-size: font(15);
        }
    }

    .Nav-Sobrenos > span {
        font-size: font(13);
        height: 8vh;
    }
}



@media (max-width: 680px) {
    .Nav-Sobrenos > span {
        font-size: font(12);
        padding: font(5);
    }

    .cabeçalho {
        width: 100%;
        flex-direction: column;
        align-items: center;
        section {
            width: 100%;
        }
        img {
            width: 50%;
            height: auto;
        }
    }

    .sobre-projeto {
        display: flex;
        align-items: center;
        flex-direction: column;
        div {
            width: 100%;
        }
        

        img {
            width: 60%;
        }

        .Card-Sobre-Conteiner {
            width: 100%;
        }
    }
}

@media (max-width: 550px) {
    .cabeçalho {
        width: 100%
    }

    #Criacao {
        span {
            ul {
                gap: font(10);
                li {
                    gap: font(10);
                    font-size: font(19);
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
//Celular na Vertical pae 
///////////////////////////////////////////////
//400px
@media (pointer: coarse) and (max-width: 400px) {
    .Dev {
        h1 {
            font-size: font(40);
        }
        p {
            font-size: font(15);
        }
        span {
            flex-direction: column;
            ul {
                gap: font(5);
                li {
                    font-size: font(15) !important;
                }
            }
        }
    }

    .Card-Sobre {
        h3 {
            font-size: font(17);
        }
        
        h4 {
            font-size: font(13);
        }
    }

    .conteudo-text {
        width: 90%;
        padding: font(10);
    }

    .Nav-Sobrenos {
        span {
            img {
                height: 90%;
            }
        }
    }
}

//350px////////////////////////////////////////
@media (pointer: coarse) and (max-width: 350px) {
    .conteudo-text{
        width: 100%;
    }

    .Dev {
        h1 {
            font-size: font(30);
        }
    }

    .Nav-Sobrenos {
        span {
            img {
                height: 80%;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/// Horizontal
/// ///////////////////////////////////////////////////////////////////////////////////
/// 

@media (orientation: landscape) and (pointer: coarse) and (max-height: 400px) {
    .conteudo-text {
        width: 100%;
    }
}
