@font-face {
    font-family: 'FontBa';
    src: url('../img/Bathrind.otf') format('opentype');
}

$font-base: 16;

@function font($size-px) {
    @return ($size-px / $font-base) * 1em;
}


$cor-main: #e8e8e3;
$cor-text-head: #55575a;
$cor-card: #d8d9d2;
$cor-text-nav: #3f4144;

.Nav-Sobrenos {
    position: sticky;
    display: flex;
    min-height: 6vh;
    width: 100%;
    height: 30%;
    top: 0px;
    z-index: 100;
}

.Nav-Sobrenos > span {
    color: $cor-text-nav;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: font(15);
    text-decoration: none;
    background: $cor-card;
    flex: 1;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:hover {
        transform: scale(1.1);
        filter: brightness(0.8);
    }
}

.wraperMainSobre {
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    scroll-margin-top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.MainSobre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30vh;
    width: 100%; 
    height: auto;
    background: $cor-main;
    padding: 0;
    padding-bottom: 10vh;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 80vh;
    scroll-margin-top: 80vh;
}

.cabeçalho > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: font(10);
    padding: font(10);
    width: 70%;
    height: 100%;
}


.fonth1h2 {
    font-family: 'FontBa', sans-serif;
}

.cabeçalho > section > h1 {
    font-size: font(50);
}

.cabeçalho > section > p {
    color: $cor-text-head;
    text-align: justify;
    hyphens: auto;
    font-family: Arial, Helvetica, sans-serif ;
}

.cabeçalho > img {
    object-fit: contain;
    width: 30%;
    flex: 1;  
}

.sobre-projeto {
    display: flex;
    flex-direction: row;
    width: 90%;
    background: $cor-main;
}

.sobre-projeto > img {
    object-fit: contain;
    width: 40%;
}


.sobre-projeto > div {
    width: 60%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    padding: font(30);
    gap: font(30);
}

.head-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: font(30);
}

.head-sobre > h1 {
    font-size: font(50);
}

.head-sobre > p {
    color: $cor-text-head;
}


.Card-Sobre-Conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: font(10);
}

.Card-Sobre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $cor-card;
    padding: font(10);
    gap: font(20);
    width: 100%;
    border-radius: font(5);
}

.Card-Sobre > h3, h4 {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.Card-Sobre > h3 {
    font-size: font(25);
}


.Dev {
    width: 90%;
    gap: font(15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $cor-main;
    h1 {
        font-size: font(50);
        margin-bottom: font(5);
    }
    p, h2 {
        color: $cor-text-head;
        margin-bottom: font(5);
    }   
    span {
        width: 100%;
        padding-left: 1.5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50%;
        ul {
            display: flex;
            flex-direction: column;
            gap: font(10);
            li {
                color: $cor-text-head;
                padding-left: font(5);
                font-size: font(20);
                transition: 0.5s;
                border-radius: font(5);
                cursor: pointer;

                &:hover {
                    transform: scale(1.1) translateX(1vw);
                    background: #b9b9b441;
                }
            }

            
        }
    }
}

/*area desenvolvedores do site*/
#Criacao {
    span {
        ul {
            list-style-type: none;
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    img {
        width: 80%;
        height: auto;
        object-fit: contain;
    }}
}

/*parte dos pesquisadores*/
#pesquisa-artista, #pesquisa-conceito, #org {
    span {
        ul {
            list-style: none;
        }
    }
}

#pesquisa-artista {
    span {
        ul {
            li::before {
                content: "📚";
                margin: font(8);
            }
        }
    }
}

#org {
    span {
        ul {
            li::before {
                content: '🛠️';
                margin: font(8);
            }
        }
    }
}

#pesquisa-conceito {
    span {
        ul {
            li::before {
                content: '🖋️';
                margin: font(8);
            }
        }
    }
}




@media (max-width: 1100px) {
    .Card-Sobre {
        h3 {
            font-size: font(20);
        }

        h4 {
            font-size: font(15);
        }
    }

    .Nav-Sobrenos > span {
        font-size: font(13);
        height: 8vh;
    }
}

@media (max-width: 800px) {
    #pesquisa-artista {
        span {
            flex-direction: column;
            gap: font(5);
            ul {
                gap: font(5);
            }
        }
    }
}


@media (max-width: 680px) {
    .Nav-Sobrenos > span {
        font-size: font(12);
        padding: font(5);
    }

    .cabeçalho {
        width: 100%;
        flex-direction: column;
        align-items: center;
        section {
            width: 100%;
        }
        img {
            width: 50%;
            height: auto;
        }
    }

    .sobre-projeto {
        display: flex;
        align-items: center;
        flex-direction: column;
        div {
            width: 100%;
        }
        

        img {
            width: 60%;
        }

        .Card-Sobre-Conteiner {
            width: 100%;
        }
    }
}

@media (max-width: 550px) {
    .cabeçalho {
        width: 100%
    }

    #Criacao {
        span {
            ul {
                gap: font(10);
                li {
                    gap: font(10);
                    font-size: font(19);
                }
            }
        }
    }
}