
$cor-1: #D7A86E; /* Areia Queimada */
$cor-2: #A6653F; /* Marrom Cacau */
$cor-3: #E2B13C; /* Dourado Solar */
$cor-4: #CF6043; /* Tijolo Vivo */
$cor-5: #F5E6D3; /* Creme de Palma */

$back-fundo: linear-gradient(135deg , rgb(19, 71, 144), rgb(89, 58, 27));

$cabeca: #A6653F;
$cabeca-hover: #76482e;
$text-cabeca: #E2B13C;

$card-back: #e45826; /*fundo*/
$card-back-border: #5e2511; /**/
$card-back-2: #e6d5b8; /*segundo*/
$card-button: #fda500; /*button*/
$card-button-hover: #a06800; 
$back-backartista: #b37046;

$card-left: #d9b76e;
$card-left-text: #292929;

$card-right: #5a3f2f;
$card-right-text: rgb(34, 30, 30);
$card-right-back-ler: #cda68f;
$card-right-img-back: #8f7667;

$fundo-back: #523014;

//fontes
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

//funcoes
$font-base: 16;

@function font($size-px) {
    @return ($size-px / $font-base) * 1rem;
}


body:hover {
    filter: brightness(0.99);
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $fundo-back;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    position: relative;
}

svg {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;

    path {
        width: 100%;
        height: 100%;
    }
}

/*background: var(--back-fundo);
    background-size: 300% 300%;
    animation: De 10s ease-in-out infinite alternate;*/

@keyframes De {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.noscroll {
    overflow-y: hidden;
    pointer-events: none;
}


/* ===== Chrome, Edge, Safari (WebKit) ===== */
::-webkit-scrollbar {
  width: font(10);        /* largura da barra vertical */
  height: font(10);       /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;  /* fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #555;      /* parte que se move */
  border-radius: 5px;    /* borda arredondada */
}

::-webkit-scrollbar-thumb:hover {
  background: #afafaf;      /* cor quando passa o mouse */
}

/* ===== Firefox ===== */
* {
  scrollbar-width: thin;          /* thin | auto | none */
  scrollbar-color: #555 rgba(0, 0, 0, 0.344) ;  /* thumb track */
}
